.custom-nav {
  min-height: 80px;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
  gap: 10px;
  padding: 0 50px;
  margin: 40px 0;
}

.brand {
  color: rgb(22, 184, 22);
  font-size: 25px;
  font-weight: bold;
}

.btn-primary-custom {
  background-color: rgb(22, 184, 22) !important;
  color: #f1f1f1 !important;
}

.btn-primary-custom:hover {
  background-color: rgb(17, 154, 17) !important;
  color: #f1f1f1 !important;
}

.navbar {
  border-bottom: 2px solid rgb(79, 185, 79);
}

.form {
  min-width: 300px;
}

.is-over {
  border: 3px solid green;
	opacity: 0.6; 
}

.on-drop{
  border: 2px solid blue;
}

.image-card {
  cursor: grab;
  width: 50%;
}

.gallery-image {
  width: 100%;
  height: auto;
  cursor: grab;
}
