<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <style>
        html {
            border-radius: 10px;
            padding: 0;
            margin: 0;
            /* border: 15px solid green; */
            border-radius: 15px;
            background-color: rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="modal-container" style="margin-top: 0; background-color: #fff;">
        <div class="popup-title-container">
            <div class="title-left">
                <img src="../public/assets/icons/logo.svg" alt="" srcset="">
                <span class="popup-title-text">
                    HelpMeOut
                </span>
            </div>
            <div class="right-title">
                <img role="button" class="button" id="settings" src="../public/assets/icons/settings.svg" alt="" srcset="">
                <img role="button" class="button" id="close" src="../public/assets/icons/close.svg" alt="" srcset="">
            </div>
        </div>
        <div class="popup-desc">
            <span>This extension helps you record and share help videos with ease.</span>
        </div>
        <div class="popup-icons">
            <div>
                <img src="../public/assets/icons/monitor.svg" alt="" srcset="">
                <span>Full Screen</span>
            </div>
            <div>
                <img src="../public/assets/icons/copy.svg" alt="" srcset="">
                <span>Current Tab</span>
            </div>
        </div>
        <div class="popup-selection">
            <img src="../public/assets/icons/video.svg" alt="" srcset="">
            <span>Camera</span>
            <div class="toggler">
                <img src="../public/assets/icons/toggle.svg" alt="" srcset="">
            </div>
        </div>
        <div class="popup-selection">
            <img src="../public/assets/icons/video.svg" alt="" srcset="">
            <span>Audio</span>
            <div class="toggler">
                <img src="../public/assets/icons/toggle.svg" alt="" srcset="">
            </div>
        </div>
        <div class="popup-btn">
            <span id="start" role="button" >Start Recording</span>
        </div>
    </div>
    <!-- <script src="../public/assets/js/popup.js"></script> -->
</body>
</html>