<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpMeOut</title>
    <link rel="stylesheet" href="../public/assets/css/page-style.css" />
</head>
<body>
    <main>
       {% include 'navbar.html' %}
        <section class="banner-content flex home-ban">
            <div class="left-banner flex">
                <span class="sora-b fs-700">Show Them Don’t Just Tell</span>
                <span class="descr">Help your friends and loved ones by creating and sending videos on how to get things done on a website.</span>
                <button>Install HelpMeOut</button>
            </div>
            <div class="right-banner">
                <div class="d-images">
                    <img src="../public/assets/images/image_one.png" alt="rec" />
                    <img src="../public/assets/images/image_two.png" alt="rec" />
                </div>
                <img src="../public/assets/images/image_three.png" alt="rec" />
                <img id="top-g" src="../public/assets/icons/topgrid.svg" alt="rec" />
                <img id="bottom-g" src="../public/assets/icons/bottomgrid.svg" alt="rec" />
            </div>
        </section>
    </main>
    <div class="seperator"></div>
    <section class="features">
        <div class="left-feature">
            <div class="feature">
                <img src="../public/assets/icons/f-icon1.svg" alt="rec" />
                <div class="flex">
                    <h3>Simple Screen Recording</h3>
                    <p>Effortless screen recording for everyone. Record with ease, no tech expertise required.</p>
                </div>
            </div>
            <div class="feature">
                <img src="../public/assets/icons/f-icon2.svg" alt="rec" />
                <div class="flex">
                    <h3>Simple Screen Recording</h3>
                    <p>Effortless screen recording for everyone. Record with ease, no tech expertise required.</p>
                </div>
            </div>
            <div class="feature">
                <img src="../public/assets/icons/f-icon3.svg" alt="rec" />
                <div class="flex">
                    <h3>Simple Screen Recording</h3>
                    <p>Effortless screen recording for everyone. Record with ease, no tech expertise required.</p>
                </div>
            </div>
        </div>
        <div class="right-feature">
            <img src="../public/assets/images/browser.png" alt="rec" />
        </div>
    </section>
   
    <footer>
        
        <div id="f-logo"><img src="../public/assets/icons/footerlogo.svg" alt="rec" /></div>
        <div class="menu flex">
            <h4>Menu</h4>
            <span>Home</span>
            <span>Converter</span>
            <span>How it works</span>
        </div>
        <div class="about flex">
            <h4>About</h4>
            <span>About Us</span>
            <span>Contact Us</span>
            <span>Privacy Policy</span>
            
        </div>
        <div class="screen-record flex">
            <h4>Screen Record</h4>
            <span>Browser Window</span>
            <span>Desktop</span>
            <span>Application</span>
        </div>
    </footer>
</body>
</html>